---
layout: default
title: Venice 2022
permalink: /events/venice2022/
event_hide: false
event_date: 2022-11-01
event_date_string: November 1st-3rd 2022
event_location: Venice, Italay
event_summary: Three days to continue the grow of the Reproducible Builds effort.
---

<h1>{{ page.title }}</h1>

<p><strong>When:</strong> {{ page.event_date_string }}.</p>
<p><strong>What:</strong> {{ page.event_summary }}</p>
<p>As a follow up to the five previous reproducible builds workshops in
  <a href="{{ "/events/athens2015/" | relative_url }}">Athens 2015</a>,
  <a href="{{ "/events/berlin2016/" | relative_url }}">Berlin 2016</a>,
  <a href="{{ "/events/berlin2017/" | relative_url }}">Berlin 2017</a>,
  <a href="{{ "/events/paris2018/" | relative_url }}">Paris 2018</a> and
  <a href="{{ "/events/Marrakesh2019/" | relative_url }}">Marrakech 2019</a>
  the reproducible builds folks met again!
  And just like previous years, the heart of the workshop are three days of moderated sessions with the goals outlined just below.
</p>

<h2>Goals</h2>
<p>
  As previously, the exact content of the meeting will be shaped by the participants,
  these are our main goals as organizers:
</p>
<ul>
  <li>Physically meet each other after such a long time! ;-)</li>
  <li>Update &amp; exchange about the status of reproducible builds in various projects.</li>
  <li>Improve collaboration both between and inside projects.</li>
  <li>Expand the scope and reach of reproducible builds to more projects.</li>
  <li>Establish space for more strategic and long-term thinking than is possible in virtual channels.</li>
  <li>Brainstorm designs on tools enabling users to get the most benefits from reproducible builds.</li>
  <li>Work together and hack on solutions.</li>
  <li>Discuss how reproducible builds will be usable and meaningful to users and developers alike.</li>
</ul>

<p>
There will be a huge variety of topics to be discussed. To give a few examples:
</p>
<ul>
    <li>continuing design and development work on .buildinfo infrastructure</li>
    <li>build-path issues everywhere</li>
    <li>future directions for diffoscope, reprotest &amp; strip-nondeterminism</li>
    <li>discussing formats and tools we can share</li>
    <li>sharing proposals for standards and documentation helpful to spreading the reproducible effort</li>
    <li>and many many more.</li>
</ul>

<h2>Location</h2>

<p>
  To be decided, most likely this will be in Mestre, Venice, Italy.  Final location to be decided after a sufficient number of attendees confirm their participation.
</p>

<p>
  We will try to pick a hotel for the whole event, and encourage people to stay within the same building, but this will be decided later.
</p>

<p>
 To enable us to focus on our workshop and it's goals, freshly prepared local
 food is served for breakfast, lunch and dinner.
</p>


<h3>Participation costs and financial support</h3>

<p>
Attendance to the summit is free of charge!<br>
If you are attending on behalf of your company, corporate registration is available, please contact us if you are interested in that!
</p>

<p>
We are working to confirm sponsors to support the event, who will offset the shared expenses for everybody (meeting room, stationary, meals, ...).  If you or your company/organization can help out, <a href="mailto:2022-summit-team@lists.reproducible-builds.org">reach out to us</a>.<br>
That said, if you or your company can pay for your own meals please say so, and we will provide you an invoice for it once the costs are finalized (after the final venue is decided).
</p>

<p>
In an effort to maximize inclusion and expand the diversity of the community, we are offering additional travel support on a case by case basis. We invite first-time attendees and those in financial need to apply for travel funding. We also invite people from groups traditionally underrepresented in free software to apply for travel funding, including:
<ul>
    <li>Women (cis and trans), trans men, and genderqueer people.</li>
    <li>Individuals from Latin America, Africa, South Asia and Southeast Asia.</li>
    <li>Anyone who is subject to systemic bias or discrimination, and impacted by under-representation in free software. Please email us and let us know what kind of diverse perspective you will bring to the conference.</li>
</ul>

We can also provide support to active Reproducible Builds contributors for whom this expense would be difficult to afford.
</p>
<p>
You can request financial support by emailing <a href="mailto:2022-summit-team@lists.reproducible-builds.org">the orga team</a> with the information requested at <a href="{{ "events/venice2022/travelsupport.html" | relative_url }}">this page</a>.
</p>

<p>
We plan to host this event within an hotel, and as such we will likely strike a deal with the hotel for the attendees that will stay at the place.  For those interested in this option, we can help organize the booking in the hotel.
</p>

<h3>Other activities</h3>
<p>
  <em>To be organized</em> by the attendees while there.<br />
  We are near Venice, which means that a trip there is not hard.  Also one could decide to travel to the Dolomites (the first mountains are ~2.3/3 hours by car from there), if one so desires.
</p>

<h2>Code of Conduct</h2>
<p>
  This event was run under the guidance of the <a href="http://debconf.org/codeofconduct.shtml">DebConf Code of Conduct</a> and the <a href="https://www.debian.org/code_of_conduct">Debian Code of Conduct</a>.
</p>
<p>
  The organisers are committed to providing an event where all participants feel safe. Attendees are expected to treat all people with respect and help create a welcoming environment. If you notice behaviour that fails to meet this standard, please speak up (aloud or in private to the organisers).
</p>

<h3>Organized by</h3>

<a href="https://aspirationtech.org/"><img src="{{ "/images/logos/aspirationtech.jpg" | relative_url }}" alt="Aspiration" style="margin: 20px;"/></a>
&amp;
Holger, Vagrant, Chris and Mattia

<h2>Sponsors</h2>
<p>
No sponsor is confirmed yet!  If you are interested in sponsoring this event, get in touch with us!
<!--
  <a href="https://www.fordfoundation.org/"><img style="margin-top: 20px; vertical-align: top;" src="{{ "/images/logos/fordfoundation.png" | relative_url }}" alt="Ford Foundation" /></a>
  <br />
  <a href="https://opentech.fund/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/opentechfund.png" | relative_url }}" alt="Open Technology Fund"/></a>
  <br />
  <a href="https://opensource.google.com/"><img style="margin-top: 10px; vertical-align: top;" src="{{ "/images/logos/google.png" | relative_url }}" alt="Google Open Source Research" /></a>
  <br />
-->
</p>

<p>
We are welcoming further sponsors for this event! Please contact <em>Mattia</em> if you want to support this event.
</p>


<h2>Travel and getting there</h2>

<h3>Visas</h3>

<p>
  We expect most of our attendees to not need a visa to enter Italy.<br>
  See <a href="https://vistoperitalia.esteri.it/home/en">the website from The Ministry of Foreign Affairs</a> to verify whether you need one.
</p>
<p>
  Contact the organization team if you need help with getting a visa processed.
</p>

<h3>Travel to Venice and the venue</h3>

<p>
  The nearest airport is <a href="https://en.wikipedia.org/wiki/Venice_Marco_Polo_Airport">Venice Marco Polo Airport (VCE)</a>; Milan's airports are also not too far, as a fast train connects the two cities.<br>
  There is also a railway nearby, with trains to/from Munich, Germany and Wien, Austria, besides many other places.<br>
  This being Venice, of course you can also reach us by sea!
</p>

<p>
  We will provide more information on how to reach the venue once the venue is decided.
</p>

<h2>Registration</h2>
<p>
Registration for attending this event is mandatory and done by sending a short email to <em><a href="mailto:2022-summit-team@lists.reproducible-builds.org">2022-summit-team@lists.reproducible-builds.org</a></em>, expressing that you want to attend and possible shortly stating your involvement or other reasons why.
</p>

